<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.welfare.persist.mapper.AccountMapper">
    <sql id="tableName">
        account
    </sql>

    <sql id="baseColumn">
        id,account_name,account_code,account_type_code,mer_code,store_code,account_status,staff_status,active,binding,create_user,create_time,update_user,update_time,account_balance,deleted,version,phone,max_quota,surplus_quota,remark
    </sql>

    <update id="increaseAccountBalance">
      UPDATE <include refid="tableName"/> set account_balance = account_balance + #{increaseBalance}, update_user = #{updateUser},update_time = now(),version = version + 1 where account_code = #{accountCode}
    </update>


</mapper>