<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.welfare.persist.mapper.AccountDepositApplyDetailMapper">
    <sql id="tableName">
        account_deposit_apply_detail
    </sql>

    <sql id="baseColumn">
        id,apply_code,account_code,recharge_amount,recharge_status,create_user,create_time,update_user,update_time,flag,version
    </sql>

    <resultMap id="tempAccountDepositApplyDTO" type="com.welfare.persist.dto.TempAccountDepositApplyDTO">
        <id property="id" column="id" />
        <result property="accountCode" column="account_code"/>
        <result property="phone" column="phone"/>
        <result property="accountName" column="account_name"/>
        <result property="rechargeAmount" column="recharge_amount"/>
        <result property="departmentCode" column="department"/>
        <result property="departmentName" column="department_name"/>
    </resultMap>

    <resultMap id="accountDepositApplyDetail" type="com.welfare.persist.entity.AccountDepositApplyDetail">
        <id property="id" column="id" />
        <result property="id" column="id"/>
        <result property="applyCode" column="apply_code"/>
        <result property="accountCode" column="account_code"/>
        <result property="rechargeStatus" column="recharge_status"/>
        <result property="accountName" column="account_name"/>
        <result property="rechargeAmount" column="recharge_amount"/>
    </resultMap>

    <resultMap id="acountApplyTotalDTO" type="com.welfare.persist.dto.AccountApplyTotalDTO">
        <id property="id" column="id" />
        <result property="userCount" column="userCount"/>
        <result property="totalAmount" column="totalAmount"/>
    </resultMap>

    <select id="listByApplyCodeIfAccountExist" resultMap="accountDepositApplyDetail">
        SELECT
        ad.*
        from account ac LEFT JOIN account_deposit_apply_detail ad
        on ac.account_code = ad.account_code
        where ad.apply_code = #{applyCode} and ac.deleted = 0 and ad.deleted = 0
    </select>

    <select id="listByApplyCodeIfAccountExist2" resultMap="tempAccountDepositApplyDTO">
        SELECT
         ad.id,
         ac.account_name,
         ad.account_code,
         ac.phone,
         ad.recharge_amount,
         ac.department,
         de.department_name
        from account ac LEFT JOIN account_deposit_apply_detail ad
        on ac.account_code = ad.account_code
        LEFT JOIN department de ON de.department_code = ac.department
        where ad.apply_code = #{applyCode} and ac.deleted = 0 and ad.deleted = 0
    </select>

    <select id="getUserCountAndTotalmount" resultMap="acountApplyTotalDTO">
        SELECT
            count(DISTINCT ad.account_code) as userCount,
            SUM(ad.recharge_amount) as totalAmount
        from account ac LEFT JOIN account_deposit_apply_detail ad
        on ac.account_code = ad.account_code
        where ad.apply_code = #{applyCode} and ac.deleted = 0 and ad.deleted = 0
    </select>

    <delete id="physicalDelByApplyCode" >
        delete from account_deposit_apply_detail where apply_code = #{applyCode}
    </delete>
</mapper>