<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.welfare.persist.mapper.AccountConsumeSceneMapper">
    <sql id="tableName">
        account_consume_scene
    </sql>

    <sql id="baseColumn">
        id,mer_code,account_type_code,remark,create_user,create_time,update_user,update_time,flag,version,sync_status
    </sql>

</mapper>