<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.welfare.persist.mapper.AccountTypeMapper">
    <sql id="tableName">
        account_type
    </sql>

    <sql id="baseColumn">
        id,mer_code,type_code,type_name,remark,flag,create_user,create_time,update_user,update_time,version
    </sql>

</mapper>