<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.welfare.persist.mapper.AccountBillDetailMapper">
    <sql id="tableName">
        account_bill_detail
    </sql>

    <sql id="baseColumn">
        id,account_code,card_id,bill_no,order_time,bill_type,store_code,real_amount,account_balance,pos,create_user,create_time,payment_type,update_user,update_time,flag,version
    </sql>

    <select id="selectAccountBillDetailSimpleList" resultType="com.welfare.persist.dto.AccountBillDetailSimpleDTO" parameterType="com.welfare.persist.dto.query.AccountBillDetailSimpleReq">
        SELECT
        aded.store_code AS storeCode,
        CASE
        aded.trans_type
        WHEN 'deposit_incr' THEN
        m.mer_name
        WHEN 'deposit_decr' THEN
        m.mer_name ELSE ss.store_name
        END AS storeName,
        aded.trans_type AS transType,
        aded.trans_amount AS transAmount,
        aded.trans_time AS transTime,
        aded.chanel AS channel,
        mat.mer_account_type_code AS merAccountTypeCode,
        mat.mer_account_type_name AS merAccountTypeName
        FROM
        account_deduction_detail aded
        JOIN account a ON aded.account_code = a.account_code
        JOIN merchant m ON a.mer_code = m.mer_code
        LEFT JOIN supplier_store ss ON aded.store_code = ss.store_code
        LEFT JOIN merchant_account_type mat ON aded.mer_account_type = mat.mer_account_type_code
        AND a.mer_code = mat.mer_code
        <where>
            <if test="accountCode != null">
                AND aded.account_code = #{accountCode}
            </if>
            <if test="startTransTime != null ">
                <![CDATA[AND aded.trans_time >= #{startTransTime}]]>
            </if>
            <if test="endTransTime != null ">
                <![CDATA[AND aded.trans_time <= #{endTransTime}]]>
            </if>
        </where>
    </select>

</mapper>