<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.welfare.persist.mapper.BarcodeSaltMapper">
    <sql id="tableName">
        barcode_salt
    </sql>

    <sql id="baseColumn">
        id,valid_period,salt_value,create_user,create_time,update_user,update_time,deleted,version
    </sql>

</mapper>