<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.welfare.persist.mapper.CardInfoMapper">
  <sql id="tableName">
        card_info
    </sql>

  <sql id="baseColumn">
        id,apply_code,card_id,card_type,card_status,flag,create_user,create_time,update_user,update_time,account_id,version
    </sql>


  <select id="getCardId" resultType="java.lang.String">
   SELECT
    IFNULL(( select card_id  from card_info
    where card_id=(select card_id from card_info where card_id like  concat('%',#{merCode}, '%')  order by card_id desc limit 1)),concat('TC01', #{merCode},'100000000'))
    </select>


  <select id="list" resultType="com.welfare.persist.dto.CardInfoDTO">
  SELECT
	ci.card_id as cardId,
	ca.card_name as cardName,
	ci.card_type as cardType,
	ca.card_medium as cardMedium,
	ci.card_status as cardStatus,
	m.mer_name as merName,
	ci.create_time as createTime,
	ci.written_time as writtenTime,
	ci.bind_time as bindTime,
	ci.account_code as accountCode
FROM
	card_info ci
	LEFT JOIN card_apply ca ON ca.apply_code = ci.apply_code
	LEFT JOIN merchant m ON m.mer_code = ca.mer_code

    <if test="applyCode != null and applyCode !='' ">and ca.apply_code = #{applyCode}
    </if>
    <if test="cardName != null and cardName !='' ">and ca.card_name = #{cardName}
    </if>
    <if test="merCode != null and merCode !='' ">and ca.mer_code = #{merCode}
    </if>
    <if test="cardType != null and cardType !='' ">and ci.card_type = #{cardType}
    </if>
    <if test="cardMedium != null and cardMedium !='' ">and ca.card_medium = #{cardMedium}
    </if>
    <if test="cardStatus != null  ">and ci.card_statu = #{cardStatus}
    </if>

    <if test="writtenStartTime != null ">and ci.written_time &gt;= #{writtenStartTime}</if>
    <if test="writtenEndTime != null ">and ci.written_time &lt;= #{writtenEndTime}</if>

    <if test="startTime != null ">and ci.create_time &gt;= #{startTime}</if>
    <if test="endTime != null ">and ci.create_time &lt;= #{endTime}</if>

    <if test="bindStartTime != null ">and ci.bind_time &gt;= #{bindStartTime}</if>
    <if test="bindEndTime != null ">and ci.bind_time &lt;= #{bindEndTime}</if>

  </select>

  <select id="listByApplyCode" resultType="com.welfare.persist.dto.CardInfoApiDTO">
   SELECT
	ci.id,
	ci.apply_code AS applyCode,
	ci.deleted,
	ci.create_user AS createUser,
	ci.update_user AS updateUser,
	ci.update_time AS updateTime,
	ci.card_id AS cardId,
	ci.version,
	ci.magnetic_stripe AS magneticStripe,
	ca.card_name AS cardName,
	ci.card_type AS cardType,
	ca.card_medium AS cardMedium,
	ci.card_status AS cardStatus,
	m.mer_name AS merName,
	ca.mer_code AS merCode,
	ci.create_time AS createTime,
	ci.written_time AS writtenTime,
	ci.bind_time AS bindTime,
	ci.account_code AS accountCode
FROM
	card_info ci
	LEFT JOIN card_apply ca ON ca.apply_code = ci.apply_code
	LEFT JOIN merchant m ON m.mer_code = ca.mer_code
WHERE
  ci.apply_code = #{applyCode} and
  ci.card_status = #{status} and
	ci.deleted = 0
  </select>

  <select id="exportCardInfo" resultType="com.welfare.persist.dto.CardInfoDTO">
    SELECT
    ci.card_id as cardId,
    ca.card_name as cardName,
    ci.card_type as cardType,
    ca.card_medium as cardMedium,
    ci.card_status as cardStatus,
    m.mer_name as merName,
    ci.create_time as createTime,
    ci.written_time as writtenTime,
    ci.bind_time as bindTime,
    ci.account_code as accountCode
    FROM
    card_info ci
    LEFT JOIN card_apply ca ON ca.apply_code = ci.apply_code
    LEFT JOIN merchant m ON m.mer_code = ca.mer_code

    <if test="cardName != null and cardName !='' ">and ca.card_name = #{cardName}
    </if>
    <if test="merCode != null and merCode !='' ">and ca.mer_code = #{merCode}
    </if>
    <if test="cardType != null and cardType !='' ">and ci.card_type = #{cardType}
    </if>
    <if test="cardMedium != null and cardMedium !='' ">and ca.card_medium = #{cardMedium}
    </if>
    <if test="cardStatus != null  ">and ci.card_statu = #{cardStatus}
    </if>

    <if test="writtenStartTime != null ">and ci.written_time &gt;= #{writtenStartTime}</if>
    <if test="writtenEndTime != null ">and ci.written_time &lt;= #{writtenEndTime}</if>

    <if test="startTime != null ">and ci.create_time &gt;= #{createTime}</if>
    <if test="endTime != null ">and ci.create_time &lt;= #{createTime}</if>

    <if test="bindStartTime != null ">and ci.bind_time &gt;= #{bindStartTime}</if>
    <if test="bindEndTime != null ">and ci.bind_time &lt;= #{bindEndTime}</if>

  </select>
</mapper>