<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.welfare.persist.mapper.DepartmentMapper">
    <sql id="tableName">
        department
    </sql>

    <sql id="baseColumn">
        id,mer_code,department_name,department_code,department_parent,department_level,department_path,deleted,create_user,create_time,update_user,update_time,version,external_code,department_type
    </sql>

</mapper>