<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.welfare.persist.mapper.MerchantBillDetailMapper">
    <sql id="tableName">
        merchant_bill_detail
    </sql>

    <sql id="baseColumn">
        id,mer_code,trans_no,trans_type,balance_type,trans_amount,recharge_limit,current_balance,credit_limit,remaining_limit,rebate_limit,create_user,create_time,update_user,update_time,version
    </sql>

</mapper>