<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.welfare.persist.mapper.MerchantExMapper">
  <select id="listWithCredit" resultType="com.welfare.persist.dto.MerchantWithCreditDTO">
    select * from (select * from (SELECT
    m.id id,
    m.mer_name merName,
    m.mer_code merCode,
    m.mer_code selfCode,
    0 departmentParent,
    m.mer_type merType,
    m.mer_identity merIdentity,
    m.mer_cooperation_mode merCooperationMode,
    mc.credit_limit creditLimit,
    bill.remaining_limit remainingLimit,
    bill.current_balance currentBalance,
    m.create_time createTime,
    NULL merName2,
    NULL merType2,
    NULL merCooperationMode2,
    NULL createTime2
    FROM
    merchant m
    LEFT JOIN merchant_credit mc ON m.mer_code = mc.mer_code
    LEFT JOIN
    (
    SELECT * FROM merchant_bill_detail
    WHERE id in
          ( SELECT MAX( mbd.id ) FROM merchant_bill_detail mbd
          <where>
            <if test="req!=null and req.balanceStartTime!=null">
              and mbd.create_time &gt;= #{balanceStartTime}
            </if>
            <if test="req!=null and req.balanceEndTime!=null">
              and mbd.create_time &lt;= #{balanceEndTime}
            </if>
          </where>
          GROUP BY mbd.mer_code
        )
    )
    bill ON bill.mer_code = m.mer_code
    where  mc.deleted=0 and m.deleted=0 ) temp0
    <where>
      <if test="req!=null and req.merCode!=null and req.merCode!=''">
        and temp0.merCode=#{req.merCode}
      </if>
      <if test="req!=null and req.merName!=null and req.merName!=''">
        and temp0.merName like concat('%',#{req.merName},'%')
      </if>
      <if test="req!=null and req.merType!=null and req.merType!=''">
        and temp0.merType=#{req.merType}
      </if>
      <if test="req!=null and req.merCooperationMode!=null and req.merCooperationMode!=''">
        and temp0.merCooperationMode=#{req.merCooperationMode}
      </if>
      <if test="req!=null and req.startTime!=null">
        and temp0.createTime &gt;= #{req.startTime}
      </if>
      <if test="req!=null and req.endTime!=null">
        and temp0.createTime &lt;= #{req.endTime}
      </if>
    </where>
    UNION
    select * from (SELECT
    d.id id,
    d.department_name merName,
    d.mer_code merCode,
    d.department_code selfCode,
    d.department_parent departmentParent,
    d.department_type merType,
    NULL merIdentity,
    NULL merCooperationMode,
    NULL creditLimit,
    NULL remainingLimit,
    NULL currentBalance,
    d.create_time createTime,
    m2.mer_name merName2,
    m2.mer_type merType2,
    m2.mer_cooperation_mode merCooperationMode2,
    m2.create_time createTime2
    FROM
    department d left join merchant m2 on m2.mer_code = d.mer_code where d.deleted=0 and m2.deleted=0 ) temp

    <where>
      <if test="req!=null and req.merCode!=null and req.merCode!=''">
        and temp.merCode=#{req.merCode}
      </if>
      <if test="req!=null and req.merName!=null and req.merName!=''">
        and temp.merName2 like concat('%',#{req.merName},'%')
      </if>
      <if test="req!=null and req.merType!=null and req.merType!=''">
        and temp.merType2=#{req.merType}
      </if>
      <if test="req!=null and req.merCooperationMode!=null and req.merCooperationMode!=''">
        and temp.merCooperationMode2=#{req.merCooperationMode}
      </if>
      <if test="req!=null and req.startTime!=null">
        and temp.createTime2 &gt;= #{req.startTime}
      </if>
      <if test="req!=null and req.endTime!=null">
        and temp.createTime2 &lt;= #{req.endTime}
      </if>
    </where>
    )temp3 ORDER BY temp3.createTime desc
  </select>
</mapper>