<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.welfare.persist.mapper.MerchantCreditApplyDetailMapper">
    <sql id="tableName">
        merchant_credit_apply_detail
    </sql>

    <sql id="baseColumn">
        id,apply_code,mer_code,type,amount,create_user,create_time,update_user,update_time,flag,version
    </sql>

</mapper>