<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.welfare.persist.mapper.MessagePushConfigContactMapper">
    <sql id="tableName">
        message_push_config_contact
    </sql>

    <sql id="baseColumn">
        id,message_push_config_id,config_code,config_name,mer_code,contact_person,contact,push_time,create_user,create_time,update_user,update_time,deleted,version
    </sql>

</mapper>