<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.welfare.persist.mapper.MonthSettleMapper">
    <sql id="tableName">
        month_settle
    </sql>

    <sql id="baseColumn">
        id,settle_no,settle_month,mer_code,trans_amount,settle_amount,rebate_amount,order_num,rec_status,settle_status,send_status,send_time,confirm_time,create_user,create_time,uppdate_user,update_time,deleted
    </sql>


    <resultMap id="monthSettleDTO" type="com.welfare.persist.dto.MonthSettleDTO">
        <id property="id" column="id" />
        <result property="settleNo" column="settle_no"/>
        <result property="settleMonth" column="settle_month"/>
        <result property="merCode" column="mer_code"/>
        <result property="merName" column="mer_name"/>
        <result property="transAmount" column="trans_amount"/>
        <result property="settleAmount" column="settle_amount"/>
        <result property="orderNum" column="order_num"/>
        <result property="merCooperationMode" column="mer_cooperation_mode"/>
        <result property="merCooperationModeName" column="mer_cooperation_mode_name"/>
        <result property="recStatus" column="rec_status"/>
        <result property="settleStatus" column="settle_status"/>
        <result property="sendStatus" column="send_status"/>
        <result property="sendTime" column="send_time"/>
        <result property="confirmTime" column="confirm_time"/>
        <result property="rebateAmount" column="rebate_amount"/>
        <result property="rebate" column="rebate"/>
        <result property="realAmount" column="real_amount"/>
        <result property="settleStartTime" column="settle_start_time"/>
        <result property="settleEndTime" column="settle_end_time"/>
        <result property="settleStatisticsInfo" column="settle_statistics_info"/>
        <result property="createTime" column="create_time"/>
    </resultMap>

    <select id="selectMonthSettle" resultMap="monthSettleDTO" parameterType="com.welfare.persist.dto.query.MonthSettleQuery">
        SELECT
         t1.id,
         t1.settle_no,
         t1.settle_month,
         t1.mer_code,
         t2.mer_name,
         t1.trans_amount,
         t1.settle_amount,
         t1.order_num,
         t1.rec_status,
         t1.settle_status,
         t1.send_status,
         t1.send_time,
         t1.confirm_time,
         t1.rebate_amount,
         t2.mer_cooperation_mode,
         t1.settle_start_time,
         t1.settle_end_time,
         t1.settle_statistics_info,
         t1.create_time,
         case when t2.mer_cooperation_mode = 'PAY_FIRST' then '先付费'
              when t2.mer_cooperation_mode = 'PAYED' then '后付费' end as mer_cooperation_mode_name
        from month_settle t1
        LEFT JOIN merchant t2 on t1.mer_code = t2.mer_code
        <where>
            <if test="id!=null and id!=''">
                and t1.id = #{id}
            </if>
            <if test="merCode!=null and merCode!=''">
                and t1.mer_code = #{merCode}
            </if>
            <if test="merName!=null and merName!=''">
                and t2.mer_name like concat('%',#{merName},'%')
            </if>
            <if test="startMonthStr!=null and startMonthStr!=''">
                and t1.settle_month &lt;=#{startMonthStr}
            </if>
            <if test="endMonthStr!=null and endMonthStr!=''">
                and t1.settle_month &gt;=#{endMonthStr}
            </if>
            <if test="endTime!=null and endTime!=''">
                and t1.create_time &lt;=#{endTime}
            </if>
            <if test="startTime!=null and startTime!=''">
                and t1.create_time &gt;=#{startTime}
            </if>
            <if test="merCooperationMode!=null and merCooperationMode!=''">
                and t2.mer_cooperation_mode = #{merCooperationMode}
            </if>
            <if test="settleStatus!=null and settleStatus!=''">
                and t1.settle_status = #{settleStatus}
            </if>
            <if test="recStatus!=null and recStatus!=''">
                and t1.rec_status = #{recStatus}
            </if>
            <if test="sendStatus!=null and sendStatus!=''">
                and t1.send_status = #{sendStatus}
            </if>
        </where>
    </select>


    <select id="selectMonthSettleSummaryInfo" resultType="map" parameterType="com.welfare.persist.dto.query.MonthSettleQuery">
        SELECT
        sum(trans_amount) as allTransAmount,
        sum(order_num) as allTransCount,
        min(str_to_date(settle_month,'%Y-%m')) as minSettleMonth,
        max(str_to_date(settle_month,'%Y-%m')) as maxSettleMonth
        from month_settle t1
        LEFT JOIN merchant t2 on t1.mer_code = t2.mer_code
        <where>
            <if test="merCode!=null and merCode!=''">
                and t1.mer_code = #{merCode}
            </if>
            <if test="merName!=null and merName!=''">
                and t2.mer_name like concat('%',#{merName},'%')
            </if>
            <if test="startMonthStr!=null and startMonthStr!=''">
                and t1.settle_month &lt;=#{startMonthStr}
            </if>
            <if test="endMonthStr!=null and endMonthStr!=''">
                and t1.settle_month &gt;=#{endMonthStr}
            </if>
            <if test="endTime!=null and endTime!=''">
                and t1.create_time &lt;=#{endTime}
            </if>
            <if test="startTime!=null and startTime!=''">
                and t1.create_time &gt;=#{startTime}
            </if>

            <if test="merCooperationMode!=null and merCooperationMode!=''">
                and t2.mer_cooperation_mode = #{merCooperationMode}
            </if>
            <if test="settleStatus!=null and settleStatus!=''">
                and t1.settle_status = #{settleStatus}
            </if>
            <if test="recStatus!=null and recStatus!=''">
                and t1.rec_status = #{recStatus}
            </if>
        </where>
    </select>

    <select id="sumSettleDetailToMonthSettle" resultType="com.welfare.persist.entity.MonthSettle" parameterType="com.welfare.persist.dto.query.MonthSettleDetailQuery">
        select
            concat(t1.mer_code,DATE_FORMAT(t1.trans_time,'%Y%m')) as settleNo,
            DATE_FORMAT(t1.trans_time,'%Y-%m') as settleMonth,
            t1.mer_code as merCode,
            sum(
                case when t1.trans_type='consume' then t1.trans_amount
                     when t1.trans_type='refund' then t1.trans_amount*-1
                     else 0 end
            ) as transAmount,
            sum(
                case when t3.mer_code != t1.mer_code and t1.trans_type='consume' then t1.trans_amount
                     when t3.mer_code != t1.mer_code and t1.trans_type='refund' then t1.trans_amount*-1
                     else 0 end
            ) as settleAmount,
            sum(
                case when t2.rebate_type='all' and t1.trans_type='consume' then rebate_ratio/100*trans_amount
                     when t2.rebate_type='all' and t1.trans_type='refund' then rebate_ratio/100*trans_amount*-1
                     when t2.rebate_type='card_pay' and t1.trans_type_name='员工卡支付' and t1.trans_type='consume' then  rebate_ratio/100*trans_amount
                     when t2.rebate_type='card_pay' and t1.trans_type_name='员工卡支付' and t1.trans_type='refund' then  rebate_ratio/100*trans_amount*-1
                     when t2.rebate_type='other_pay' and t1.trans_type_name!='员工卡支付' and t1.trans_type='consume' then  rebate_ratio/100*trans_amount
                     when t2.rebate_type='other_pay' and t1.trans_type_name!='员工卡支付' and t1.trans_type='refund' then  rebate_ratio/100*trans_amount*-1
                     else 0 end
            ) as rebateAmount,
            sum(
                case when t1.trans_type='consume' then 1
                     when t1.trans_type='refund' then -1
                     else 0 end
            ) as orderNum,
            'unconfirmed' as  rec_status,
            'unsettled' as settle_status,
            'unsended' as send_status,
            null as send_time,
            null as confirm_time,
            'system' as create_user
        from settle_detail t1
        left join merchant_store_relation t2 on t1.store_code=t2.store_code and t1.mer_code=t2.mer_code
        left join supplier_store t3 on t1.store_code = t3.store_code and t3.deleted=0
        <where>
            <if test="startTime!=null">
                and t1.trans_time &gt;=#{startTime,jdbcType=TIMESTAMP}
            </if>
            <if test="endTime!=null">
                and t1.trans_time &lt;=#{endTime,jdbcType=TIMESTAMP}
            </if>
            <if test="merCode!=null and merCode!=''">
                and t1.mer_code=#{merCode}
            </if>
        </where>
        group by t1.mer_code
    </select>
</mapper>