<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.welfare.persist.entity.OrderTransRelationMapper">
    <sql id="tableName">
        order_trans_relation
    </sql>

    <sql id="baseColumn">
        id,order_id,trans_no,type,create_user,create_time,update_user,update_time,version,deleted
    </sql>

</mapper>