<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.welfare.persist.mapper.OrderMapper">

    <sql id="field">
        order_id,goods,merchant_name,merchant_code,account_name,account_code,card_id,store_code,store_name,order_amount,order_time,pay_code
    </sql>
    <!--查询订单-->
    <select id="searchOrder" parameterType="com.welfare.persist.dto.query.OrderPageQuery" resultType="com.welfare.persist.entity.OrderInfo">
        with order_view as(
            select
                <include refid="field"/>
            from dw_cbest.order_info
            <where>
                <if test="orderQuery.orderId != null">
                    and order_id = ${orderQuery.orderId}
                </if>
                <if test="orderQuery.accountName != null">
                    and account_name = ${orderQuery.accountName}
                </if>
                <if test="orderQuery.lowPrice != null">
                    and amount &gt;= ${orderQuery.lowPrice}
                </if>
                <if test="orderQuery.highPrice != null">
                    and amount &lt;= ${orderQuery.highPrice}
                </if>
                <if test="orderQuery.merchantCode != null">
                    and merchant_code = ${orderQuery.merchantCode}
                </if>
                <if test="orderQuery.startDateTime != null">
                    and order_time &gt;= ${orderQuery.startDateTime}
                </if>
                <if test="orderQuery.endDateTime != null">
                    and order_time &lt;= ${orderQuery.endDateTime}
                </if>
                <if test="orderQuery.noRebateStoreList != null">
                    <!--没有返利-->
                    and store_code in
                    <foreach collection="list" item="item" index="index" open="(" separator="," close=")">
                        ${item}
                    </foreach>
                    and pay_code = \'5065\'
                </if>
                <if test="orderQuery.cardRebateStoreList != null">
                    <!--只有员工卡支付方式返利-->
                    or store_code in
                    <foreach collection="list" item="item" index="index" open="(" separator="," close=")">
                        ${item}
                    </foreach>
                    and pay_code = \'5065\'
                </if>
                <if test="orderQuery.otherRebateStoreList != null">
                    <!--只有员工卡支付方式返利-->
                    or store_code in
                    <foreach collection="list" item="item" index="index" open="(" separator="," close=")">
                        ${item}
                    </foreach>
                    and pay_code != \'5065\'
                </if>
                <if test="orderQuery.allRebateStoreList != null">
                    <!--只有员工卡支付方式返利-->
                    or store_code in
                    <foreach collection="list" item="item" index="index" open="(" separator="," close=")">
                        ${item}
                    </foreach>
                </if>
            </where>
        )
        <!--查询-->
      select * from (
        select ROW_NUMBER() over(ORDER BY T.id) as Row , ov.* , t.* from
        (
            select
            '1' as id , order_id as orderId,goods as goods,
            merchant_name as merchantName ,merchant_code as merchantCode , account_name as accountName,
            account_code as accountCode ,card_id as cardId,
            store_code as storeCode ,store_name as storeName,
            order_amount as orderAmount ,order_time orderTime ,pay_code as payCode from order_view
        )ov
        left join
        (
            select '1' as id ,sum(amount) as amount , count(order_id) as orderNum from order_view
        )t
            on ov.id = t.id
            order by order_time desc
        )TT where TT.Row BETWEEN (pageNo - 1) * pageSize + 1 AND pageNo * pageSize

    </select>

</mapper>