<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.welfare.persist.entity.PaymentChannel">
    <sql id="tableName">
        payment_channel
    </sql>

    <sql id="baseColumn">
        id,code,name,merchant_code,deleted,create_user,create_time,update_user,update_time,version
    </sql>

</mapper>