<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.welfare.persist.mapper.SequenceMapper">
    <sql id="tableName">
        sequence
    </sql>

    <sql id="baseColumn">
        id,sequence_type,sequence_no,create_user,create_time,update_user,update_time,deleted,version
    </sql>

</mapper>