<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.welfare.persist.mapper.SubAccountMapper">
    <sql id="tableName">
        sub_account
    </sql>

    <sql id="baseColumn">
        id,account_code,sub_account_type,balance,create_user,create_time,update_user,update_time,deleted,version
    </sql>

</mapper>