<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.welfare.persist.mapper.SupplierStoreExMapper">
  <select id="listWithMerchant" resultType="com.welfare.persist.dto.SupplierStoreWithMerchantDTO">
    select * from (SELECT
    ss.id as id,
    store_code as storeCode,
    store_name as storeName,
    m.mer_name as merName,
    ss.mer_code as merCode,
    ss.STATUS as status,
    ss.create_time as createTime
    FROM
    supplier_store ss
    LEFT JOIN merchant m ON ss.mer_code = m.mer_code and m.deleted=0 and ss.deleted=0
    <where>
      <if test="req!=null and req.merCode!=null and req.merCode!=''">
        and ss.mer_code=#{req.merCode}
      </if>
      <if test="req!=null and req.storeName!=null and req.storeName!=''">
        and ss.store_name like concat('%',#{req.storeName},'%')
      </if>
      <if test="req!=null and req.storeCode!=null and req.storeCode!=''">
        and ss.store_code=#{req.storeCode}
      </if>
      <if test="req!=null and req.startTime!=null">
        and ss.create_time &gt;= #{req.startTime}
      </if>
      <if test="req!=null and req.endTime!=null">
        and ss.create_time &lt;= #{req.endTime}
      </if>
      <if test="req!=null and req.status!=null">
        and ss.status = #{req.status}
      </if>
      <if test="req!=null and req.storeCodes != null and req.storeCodes.size()>0">
        and ss.store_code in
        <foreach close=")" collection="req.storeCodes" item="item" open="(" separator=", ">
          #{item}
        </foreach>
      </if>
    </where>
    ) temp ORDER BY temp.createTime desc
  </select>

  <select id="queryMerSupplierStoreDTList" resultType="com.welfare.persist.dto.MerSupplierStoreDTO">
         SELECT
				msr.mer_code as merCode,
        msr.store_code as storeCode,
        msr.store_alias as storeName,
        msr.consum_type as consumType
    FROM
    merchant_store_relation msr
    LEFT JOIN merchant m ON m.mer_code = msr.mer_code
    where
    msr.deleted != 1 and consum_type like"%true%" and msr.mer_code=#{merCode}
    </select>

  <select id="listUnionMerchant" resultType="com.welfare.persist.entity.SupplierStore">
    select * from (select * from (
    select
    id,
    mer_code merCode,
    store_code storeCode,
    store_name storeName,
    store_parent storeParent,
    store_path storePath,
    remark ,
    consum_type consumType,
    status ,
    create_time createTime,
    0 as disabled
    from supplier_store ss where ss.deleted=0
    ) temp0
    <where>
      <if test="merCodes != null and merCodes.size()>0">
        and temp0.merCode in
        <foreach item="item" index="index" collection="merCodes" open="(" separator=","
          close=")">
          #{item}
        </foreach>
      </if>
    </where>
    UNION
    select * from (
    select
    id,
    mer_code merCode,
    mer_code storeCode,
    mer_name storeName,
    false storeParent,
    mer_code storePath,
    remark ,
    null consumType,
    status ,
    create_time createTime,
    true as disabled

    from merchant m where m.deleted=0

    ) temp
    <where>
      <if test="merCodes != null and merCodes.size()>0">
        and temp.merCode in
        <foreach item="item" index="index" collection="merCodes" open="(" separator=","
                 close=")">
          #{item}
        </foreach>
      </if>
    </where>
    )temp3 order by temp3.createTime desc
  </select>
</mapper>