<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.welfare.persist.mapper.WholesalePayableSettleDetailMapper">
    <sql id="tableName">
        wholesale_payable_settle_detail
    </sql>

    <sql id="baseColumn">
        id,settle_no,order_id,trans_no,account_code,account_name,card_id,mer_code,mer_name,store_code,store_name,trans_time,pos,pay_code,pay_name,trans_type,trans_type_name,trans_amount,mer_account_type,mer_account_type_name,account_amount,account_balance,mer_deduction_amount,mer_credit_deduction_amount,self_deduction_amount,data_type,settle_flag,order_channel,payment_channel,create_user,create_time,update_user,update_time,version,rebate_amount,mer_credit,mer_balance,order_wholesale_amount,mer_wholesale_credit_deduction_amount,mer_wholesale_credit,deleted
    </sql>

    <select id="pageUnsettleDataGroupBySupplierMerCode" resultType="com.welfare.persist.dto.PlatformPayableSettleGroupDTO">
        SELECT
        mer.mer_name AS merName,
        mer.mer_code AS merCode,
        me.supplier_wholesale_settle_method AS cooperationMode,
        SUM( if(wpsd.trans_amount is NULL,0,if(wpsd.trans_type='consume', wpsd.trans_amount, -wpsd.trans_amount)) ) AS totalConsumeAmount,
        SUM( if(wpsd.order_wholesale_amount is NULL,0,if(wpsd.trans_type='consume', wpsd.order_wholesale_amount ,-wpsd.order_wholesale_amount)) ) AS unSettleAmount,
        SUM( if(wpsd.trans_amount is NULL,0,if(wpsd.trans_type='consume', wpsd.trans_amount ,-wpsd.trans_amount)) ) - SUM( if(wpsd.order_wholesale_amount is NULL,0,if(wpsd.trans_type='consume', wpsd.order_wholesale_amount ,-wpsd.order_wholesale_amount)) ) AS revenueAmount
        FROM
        merchant mer
        LEFT JOIN merchant_extend me ON mer.mer_code = me.mer_code
        LEFT JOIN supplier_store ss ON mer.mer_code = ss.mer_code
        LEFT JOIN wholesale_payable_settle_detail wpsd ON wpsd.store_code = ss.store_code
        LEFT JOIN merchant cust ON wpsd.mer_code = cust.mer_code
        WHERE
        mer.mer_identity LIKE '%SUPPLIER%'
        AND me.supplier_wholesale_settle_method IS NOT NULL
        AND LENGTH( trim( me.supplier_wholesale_settle_method ) ) > 0
        AND wpsd.settle_flag = 'unsettled'
        <if test="query.supplierMerName != null and query.supplierMerName != '' ">
            and mer.mer_name like concat('%', #{query.supplierMerName}, '%')
        </if>
        <if test="query.customerMerCode != null and query.customerMerCode != '' ">
            and cust.mer_code = #{query.customerMerCode}
        </if>
        <if test="query.cooperationMode != null and query.cooperationMode != '' ">
            and me.supplier_wholesale_settle_method = #{query.cooperationMode}
        </if>
        <if test="query.transTimeStart != null">
            <![CDATA[AND wpsd.trans_time >= #{query.transTimeStart}]]>
        </if>
        <if test="query.transTimeEnd != null">
            <![CDATA[AND wpsd.trans_time < #{query.transTimeEnd}]]>
        </if>
        GROUP BY
        mer.mer_code
        order by mer.id desc
    </select>


    <select id="summaryGroupBySupplierMerCode" resultType="com.welfare.persist.dto.PlatformWholesalePayableGroupDTO">
        SELECT
        SUM( IF(wpsd.trans_amount IS NULL,0,if(wpsd.trans_type='consume', wpsd.trans_amount, -wpsd.trans_amount)) ) AS totalConsumeAmount,
        SUM( IF(wpsd.order_wholesale_amount IS NULL,0,if(wpsd.trans_type='consume', wpsd.order_wholesale_amount, -wpsd.order_wholesale_amount)) ) AS unSettleAmount,
        SUM( IF(wpsd.trans_amount IS NULL,0,if(wpsd.trans_type='consume', wpsd.trans_amount, -wpsd.trans_amount)) ) - SUM( IF(wpsd.order_wholesale_amount IS NULL,0,if(wpsd.trans_type='consume', wpsd.order_wholesale_amount, -wpsd.order_wholesale_amount)) ) AS revenueAmount
        FROM
        merchant mer
        LEFT JOIN merchant_extend me ON mer.mer_code = me.mer_code
        LEFT JOIN supplier_store ss ON mer.mer_code = ss.mer_code
        LEFT JOIN wholesale_payable_settle_detail wpsd ON wpsd.store_code = ss.store_code
        LEFT JOIN merchant cust ON wpsd.mer_code = cust.mer_code
        WHERE
        mer.mer_identity LIKE '%SUPPLIER%'
        AND me.supplier_wholesale_settle_method IS NOT NULL
        AND LENGTH( trim( me.supplier_wholesale_settle_method ) ) > 0
        AND wpsd.settle_flag = 'unsettled'
        <if test="query.supplierMerName != null and query.supplierMerName != '' ">
            and mer.mer_name like concat('%', #{query.supplierMerName}, '%')
        </if>
        <if test="query.customerMerCode != null and query.customerMerCode != '' ">
            and cust.mer_code = #{query.customerMerCode}
        </if>
        <if test="query.cooperationMode != null and query.cooperationMode != '' ">
            and me.supplier_wholesale_settle_method = #{query.cooperationMode}
        </if>
        <if test="query.transTimeStart != null">
            <![CDATA[AND wpsd.trans_time >= #{query.transTimeStart}]]>
        </if>
        <if test="query.transTimeEnd != null">
            <![CDATA[AND wpsd.trans_time < #{query.transTimeEnd}]]>
        </if>
    </select>


    <select id="queryPagePayableDetails" resultType="com.welfare.persist.dto.settlement.wholesale.PlatformWholesaleSettleDetailDTO">
        SELECT
            wpsd.id AS id,
            wpsd.trans_no AS transNo,
            wpsd.order_id AS orderNo,
            wpsd.trans_time AS transTime,
            wpsd.account_code AS accountCode,
            a.account_name AS accountName,
            a.phone AS phone,
            mer.mer_code AS customerMerCode,
            mer.mer_name AS customerMerName,
            ss.store_code AS storeCode,
            ss.store_name AS storeName,
            wpsd.trans_type AS transType,
            case when wpsd.trans_type='consume' then IFNULL(wpsd.trans_amount,0)
            when wpsd.trans_type='refund' then IFNULL(-wpsd.trans_amount,0)
                end AS saleAmount,
            case when wpsd.trans_type='consume' then IFNULL(wpsd.order_wholesale_amount,0)
            when wpsd.trans_type='refund' then IFNULL(-wpsd.order_wholesale_amount,0)
               end  AS settleAmount,

            case when wpsd.trans_type='consume' then IFNULL(wpsd.trans_amount,0)
            when wpsd.trans_type='refund' then IFNULL(-wpsd.trans_amount,0)
            end
            -
            case when wpsd.trans_type='consume' then IFNULL(wpsd.order_wholesale_amount,0)
            when wpsd.trans_type='refund' then IFNULL(-wpsd.order_wholesale_amount,0)
            end  AS revenueAmount,

            wpsd.settle_flag AS settleFlag,
            case when wpsd.settle_flag='unsettled' then '待结算'
            when wpsd.settle_flag='settling' then '结算中'
            when wpsd.settle_flag='settled' then '已结算' end as settleFlagName
        FROM
            wholesale_payable_settle_detail wpsd
                LEFT JOIN account a ON wpsd.account_code = a.account_code
                LEFT JOIN merchant mer ON mer.mer_code = wpsd.mer_code
                LEFT JOIN merchant_extend me ON mer.mer_code = me.mer_code
                LEFT JOIN supplier_store ss ON ss.store_code = wpsd.store_code
                LEFT JOIN merchant supplier ON supplier.mer_code = ss.mer_code
        <where>
            <if test="query.merCode != null and query.merCode != ''">
                and supplier.mer_code = #{query.merCode}
            </if>
            <if test="query.orderNo != null and query.orderNo != ''">
                and wpsd.order_id = #{query.orderNo}
            </if>
            <if test="query.transNo != null and query.transNo != ''">
                and wpsd.trans_no = #{query.transNo}
            </if>
            <if test="query.settleFlag != null and query.settleFlag != ''">
                and wpsd.settle_flag = #{query.settleFlag}
            </if>
            <if test="query.customerMerCode != null and query.customerMerCode != ''">
                and mer.mer_code = #{query.customerMerCode}
            </if>
            <if test="query.transTimeStart != null">
                <![CDATA[AND wpsd.trans_time >= #{query.transTimeStart}]]>
            </if>
            <if test="query.transTimeEnd != null">
                <![CDATA[AND wpsd.trans_time < #{query.transTimeEnd}]]>
            </if>
            <if test="query.phone != null and query.phone != ''">
                and a.phone = #{query.phone}
            </if>
            <if test="query.storeCodes != null and query.storeCodes.size > 0">
                and wpsd.store_code in
                <foreach collection="query.storeCodes" item="item" index="index" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
            <if test="query.excludeIds != null and query.excludeIds.size > 0">
                and wpsd.id not in
                <foreach collection="query.excludeIds" item="item" index="index" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
            <if test="query.cooperationMode != null and query.cooperationMode != '' ">
                and me.supplier_wholesale_settle_method = #{query.cooperationMode}
            </if>
        </where>
    </select>




    <select id="queryPayableDetailsSummary" resultType="com.welfare.persist.dto.PlatformWholesalePayableDetailSummaryDTO">
        SELECT
        supplier.mer_name as merName,
        me.supplier_wholesale_settle_method as cooperationMode,
        SUM( IF(wpsd.trans_amount IS NULL,0,if(wpsd.trans_type='consume', wpsd.trans_amount, -wpsd.trans_amount)) ) AS saleAmount,
        SUM( IF(wpsd.order_wholesale_amount IS NULL,0,if(wpsd.trans_type='consume', wpsd.order_wholesale_amount, -wpsd.order_wholesale_amount)) ) AS unsettledAmount,
        SUM( IF(wpsd.trans_amount IS NULL,0,if(wpsd.trans_type='consume', wpsd.trans_amount, -wpsd.trans_amount)) ) - SUM( IF(wpsd.order_wholesale_amount IS NULL,0,if(wpsd.trans_type='consume', wpsd.order_wholesale_amount, -wpsd.order_wholesale_amount)) ) AS revenueAmount
        FROM
        wholesale_payable_settle_detail wpsd
        LEFT JOIN account a ON wpsd.account_code = a.account_code
        LEFT JOIN merchant mer ON mer.mer_code = wpsd.mer_code
        LEFT JOIN merchant_extend me ON mer.mer_code = me.mer_code
        LEFT JOIN supplier_store ss ON ss.store_code = wpsd.store_code
        LEFT JOIN merchant supplier ON supplier.mer_code = ss.mer_code
        <where>
            <if test="query.merCode != null and query.merCode != ''">
                and supplier.mer_code = #{query.merCode}
            </if>
            <if test="query.orderNo != null and query.orderNo != ''">
                and wpsd.order_id = #{query.orderNo}
            </if>
            <if test="query.transNo != null and query.transNo != ''">
                and wpsd.trans_no = #{query.transNo}
            </if>
            <if test="query.settleFlag != null and query.settleFlag != ''">
                and wpsd.settle_flag = #{query.settleFlag}
            </if>
            <if test="query.customerMerCode != null and query.customerMerCode != ''">
                and mer.mer_code = #{query.customerMerCode}
            </if>
            <if test="query.transTimeStart != null">
                <![CDATA[AND wpsd.trans_time >= #{query.transTimeStart}]]>
            </if>
            <if test="query.transTimeEnd != null">
                <![CDATA[AND wpsd.trans_time < #{query.transTimeEnd}]]>
            </if>
            <if test="query.phone != null and query.phone != ''">
                and a.phone = #{query.phone}
            </if>
            <if test="query.storeCodes != null and query.storeCodes.size > 0">
                and wpsd.store_code in
                <foreach collection="query.storeCodes" item="item" index="index" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
            <if test="query.excludeIds != null and query.excludeIds.size > 0">
                and wpsd.id not in
                <foreach collection="query.excludeIds" item="item" index="index" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
        </where>
    </select>

    <select id="payableBillDetailPage" resultType="com.welfare.persist.dto.WholesalePayableSettleDetailResp">
        SELECT
        wpsd.id AS id,
        wpsd.trans_no AS transNo,
        wpsd.order_id AS orderNo,
        wpsd.trans_time AS transTime,
        ss.store_code AS storeCode,
        ss.store_name AS storeName,
        a.phone AS phone,
        wpsd.account_code AS accountCode,
        a.account_name AS accountName,
        mer.mer_code AS customerMerCode,
        mer.mer_name AS customerMerName,
        case when wpsd.trans_type='consume' then IFNULL(wpsd.trans_amount,0)
        when wpsd.trans_type='refund' then IFNULL(-wpsd.trans_amount,0)
        end AS saleAmount,
        case when wpsd.trans_type='consume' then IFNULL(wpsd.order_wholesale_amount,0)
        when wpsd.trans_type='refund' then IFNULL(-wpsd.order_wholesale_amount,0)
        end  AS settleAmount,

        case when wpsd.trans_type='consume' then IFNULL(wpsd.trans_amount,0)
        when wpsd.trans_type='refund' then IFNULL(-wpsd.trans_amount,0)
        end
        -
        case when wpsd.trans_type='consume' then IFNULL(wpsd.order_wholesale_amount,0)
        when wpsd.trans_type='refund' then IFNULL(-wpsd.order_wholesale_amount,0)
        end  AS revenueAmount
        FROM
        wholesale_payable_settle_detail wpsd
        LEFT JOIN account a ON wpsd.account_code = a.account_code
        LEFT JOIN merchant mer ON mer.mer_code = wpsd.mer_code
        LEFT JOIN merchant_extend me ON mer.mer_code = me.mer_code
        LEFT JOIN supplier_store ss ON ss.store_code = wpsd.store_code
        LEFT JOIN merchant supplier ON supplier.mer_code = ss.mer_code
        <where>

            <if test="query.settleNo != null and query.settleNo != ''">
                and wpsd.settle_no = #{query.settleNo}
            </if>
            <if test="query.orderNo != null and query.orderNo != ''">
                and wpsd.order_id = #{query.orderNo}
            </if>
            <if test="query.storeCodes != null and query.storeCodes.size > 0">
                and wpsd.store_code in
                <foreach collection="query.storeCodes" item="item" index="index" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
            <if test="query.startTime != null">
                <![CDATA[AND wpsd.trans_time >= #{query.startTime}]]>
            </if>
            <if test="query.endTime != null">
                <![CDATA[AND wpsd.trans_time < #{query.endTime}]]>
            </if>
            <if test="query.transNo != null and query.transNo != ''">
                and wpsd.trans_no = #{query.transNo}
            </if>
            <if test="query.phone != null and query.phone != ''">
                and a.phone = #{query.phone}
            </if>
            <if test="query.customerMerCode != null and query.customerMerCode != ''">
                and mer.mer_code = #{query.customerMerCode}
            </if>
        </where>
    </select>


    <select id="payableBillDetailSummary" resultType="com.welfare.persist.dto.WholesalePayableBillGroupDTO">
        SELECT
        SUM( IF(wpsd.trans_amount IS NULL,0,if(wpsd.trans_type='consume', wpsd.trans_amount, -wpsd.trans_amount)) ) AS goodsSaleAmount,
        SUM( IF(wpsd.trans_amount IS NULL,0,if(wpsd.trans_type='consume', wpsd.trans_amount, -wpsd.trans_amount)) ) AS saleAmount,
        SUM( IF(wpsd.order_wholesale_amount IS NULL,0,if(wpsd.trans_type='consume', wpsd.order_wholesale_amount, -wpsd.order_wholesale_amount)) ) AS settleAmount,
        SUM( IF(wpsd.trans_amount IS NULL,0,if(wpsd.trans_type='consume', wpsd.trans_amount, -wpsd.trans_amount)) ) - SUM( IF(wpsd.order_wholesale_amount IS NULL,0,if(wpsd.trans_type='consume', wpsd.order_wholesale_amount, -wpsd.order_wholesale_amount)) ) AS revenueAmount
        FROM
        wholesale_payable_settle_detail wpsd
        LEFT JOIN account a ON wpsd.account_code = a.account_code
        LEFT JOIN merchant mer ON mer.mer_code = wpsd.mer_code
        LEFT JOIN merchant_extend me ON mer.mer_code = me.mer_code
        LEFT JOIN supplier_store ss ON ss.store_code = wpsd.store_code
        LEFT JOIN merchant supplier ON supplier.mer_code = ss.mer_code
        <where>

            <if test="query.settleNo != null and query.settleNo != ''">
                and wpsd.settle_no = #{query.settleNo}
            </if>
            <if test="query.orderNo != null and query.orderNo != ''">
                and wpsd.order_id = #{query.orderNo}
            </if>
            <if test="query.storeCodes != null and query.storeCodes.size > 0">
                and wpsd.store_code in
                <foreach collection="query.storeCodes" item="item" index="index" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
            <if test="query.startTime != null">
                <![CDATA[AND wpsd.trans_time >= #{query.startTime}]]>
            </if>
            <if test="query.endTime != null">
                <![CDATA[AND wpsd.trans_time < #{query.endTime}]]>
            </if>
            <if test="query.transNo != null and query.transNo != ''">
                and wpsd.trans_no = #{query.transNo}
            </if>
            <if test="query.phone != null and query.phone != ''">
                and a.phone = #{query.phone}
            </if>
            <if test="query.customerMerCode != null and query.customerMerCode != ''">
                and mer.mer_code = #{query.customerMerCode}
            </if>
        </where>
    </select>




    <select id="buildPayableSettle" resultType="com.welfare.persist.entity.WholesalePayableSettle">
        SELECT
        concat(supplier.mer_code,DATE_FORMAT(now(),'%Y%m%d%h%m%s')) as settleNo,
        SUM( IF(wpsd.trans_amount IS NULL,0,if(wpsd.trans_type='consume', wpsd.trans_amount, -wpsd.trans_amount)) ) AS transAmount,
        SUM( IF(wpsd.order_wholesale_amount IS NULL,0,if(wpsd.trans_type='consume', wpsd.order_wholesale_amount, -wpsd.order_wholesale_amount)) ) AS settleAmount,
        count(distinct wpsd.order_id) as orderNum,
        'unconfirmed' as  recStatus,
        'settling' as settleStatus,
        'unsended' as sendStatus,
        supplier.mer_code as merCode,
        min(wpsd.trans_time) as settleStartTime,
        max(wpsd.trans_time) as settleEndTime,
        'sys' as createUser
        FROM
        wholesale_payable_settle_detail wpsd
        LEFT JOIN account a ON wpsd.account_code = a.account_code
        LEFT JOIN merchant mer ON  mer.mer_code = wpsd.mer_code
        LEFT JOIN merchant_extend me ON mer.mer_code = me.mer_code
        LEFT JOIN supplier_store ss ON ss.store_code = wpsd.store_code
        LEFT JOIN merchant supplier ON supplier.mer_code = ss.mer_code
        <where>
            wpsd.settle_flag = 'unsettled'
            <if test="query.merCode != null and query.merCode != ''">
                and supplier.mer_code = #{query.merCode}
            </if>
            <if test="query.orderNo != null and query.orderNo != ''">
                and wpsd.order_id = #{query.orderNo}
            </if>
            <if test="query.transNo != null and query.transNo != ''">
                and wpsd.trans_no = #{query.transNo}
            </if>
            <if test="query.settleFlag != null and query.settleFlag != ''">
                and wpsd.settle_flag = #{query.settleFlag}
            </if>
            <if test="query.customerMerCode != null and query.customerMerCode != ''">
                and mer.mer_code = #{query.customerMerCode}
            </if>
            <if test="query.transTimeStart != null">
                <![CDATA[AND wpsd.trans_time >= #{query.transTimeStart}]]>
            </if>
            <if test="query.transTimeEnd != null">
                <![CDATA[AND wpsd.trans_time < #{query.transTimeEnd}]]>
            </if>
            <if test="query.phone != null and query.phone != ''">
                and a.phone = #{query.phone}
            </if>
            <if test="query.storeCodes != null and query.storeCodes.size > 0">
                and wpsd.store_code in
                <foreach collection="query.storeCodes" item="item" index="index" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
            <if test="query.excludeIds != null and query.excludeIds.size > 0">
                and wpsd.id not in
                <foreach collection="query.excludeIds" item="item" index="index" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
        </where>
        group by supplier.mer_code
    </select>


    <select id="getSettleDetailIdAndOrderIdList" resultType="com.welfare.persist.entity.WholesalePayableSettleDetail">
        SELECT
        wpsd.id as id,
        wpsd.order_id as orderId
        FROM
        wholesale_payable_settle_detail wpsd
        LEFT JOIN account a ON wpsd.account_code = a.account_code
        LEFT JOIN merchant mer ON  mer.mer_code = wpsd.mer_code
        LEFT JOIN merchant_extend me ON mer.mer_code = me.mer_code
        LEFT JOIN supplier_store ss ON ss.store_code = wpsd.store_code
        LEFT JOIN merchant supplier ON supplier.mer_code = ss.mer_code
        <where>
            wpsd.settle_flag = 'unsettled'
            <if test="query.merCode != null and query.merCode != ''">
                and supplier.mer_code = #{query.merCode}
            </if>
            <if test="query.orderNo != null and query.orderNo != ''">
                and wpsd.order_id = #{query.orderNo}
            </if>
            <if test="query.transNo != null and query.transNo != ''">
                and wpsd.trans_no = #{query.transNo}
            </if>
            <if test="query.settleFlag != null and query.settleFlag != ''">
                and wpsd.settle_flag = #{query.settleFlag}
            </if>
            <if test="query.customerMerCode != null and query.customerMerCode != ''">
                and mer.mer_code = #{query.customerMerCode}
            </if>
            <if test="query.transTimeStart != null">
                <![CDATA[AND wpsd.trans_time >= #{query.transTimeStart}]]>
            </if>
            <if test="query.transTimeEnd != null">
                <![CDATA[AND wpsd.trans_time < #{query.transTimeEnd}]]>
            </if>
            <if test="query.phone != null and query.phone != ''">
                and a.phone = #{query.phone}
            </if>
            <if test="query.storeCodes != null and query.storeCodes.size > 0">
                and wpsd.store_code in
                <foreach collection="query.storeCodes" item="item" index="index" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
            <if test="query.excludeIds != null and query.excludeIds.size > 0">
                and wpsd.id not in
                <foreach collection="query.excludeIds" item="item" index="index" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
        </where>
        order by wpsd.id
    </select>
</mapper>