<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.welfare.persist.mapper.MerchantStoreRelationMapper">
    <sql id="tableName">
        merchant_store_relation
    </sql>

    <sql id="baseColumn">
        id,mer_code,store_code,consum_type,store_alias,is_rebate,rebate_type,rebate_ratio,ramark,flag,create_user,create_time,update_user,update_time,version
    </sql>

</mapper>